.w-card {
  margin: 1vh 0;
  height: 329.183px;
  background-color: #ffffff;
  border-radius: 8px;
  border: .5px solid rgba(128, 128, 128, 0.267);
  box-shadow: 0px 1px 2px rgba(128, 138, 157, 0.12), 0px 8px 32px rgba(128, 138, 157, 0.24);
}

.title {
  color: white;
  background-color: #236AD6;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.weather-type {
  width: fit-content;
  background-color: #e5ebe6;
  margin: .5vh auto;
  color: #000000c5;
  padding: 0 3px;
  border-radius: 3px;
  font-size: small;
}

.font-size {
  font-size: small;
}

.border-bottom {
  border-bottom: 1px solid grey;
}

.border-radius {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.magnify-loading {
  margin-top: 10vh;
}