.header {
  background-color: #2095F2;
  height: 11vh;
  color: white;
  font-weight: bold;
  font-size: 24px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 0 4vw;
}